@import url('h//db.onlinewebfonts.com/c/0421d4186d6efbfc5331fe180895e780?family=Harry+Potter');


/* @view-transition {
  navigation: auto;
} */


/* #root { */
  /* max-width: 1280px; */
 
  /* padding: 2rem; */
  /* text-align: center;
  background-color: #333; 
  font-family: Harry Potter, Arial;
  margin: 0 auto;
}
*{
  background-color: #333; 
} */

.conteiner{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: 200px; */
  gap: 10px;
  font-family: Harry Potter, Arial;
}

/* .card{ 
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 15px;
  flex-wrap: wrap;
  overflow: hidden;

} */

.card{
  position: relative;
  display: inline-block;
  mask-image: linear-gradient(transparent, black 80%, transparent);
  transition: opacity 2s ease;
  font-family: Harry Potter, Arial;
}

.card img{
  height: 100%;
  width: 100%;
  mask-image: linear-gradient(transparent, black 49%);
  display: block;
  transform: translateY(300px) scale(0);
  transition: transform .5s ease;
}

.card:hover img{
  transform: translateY(0) scale(1);
}

@media screen and (max-width: 768px) {
  .back{
    display: inline-block;
    opacity: 1;
  }
  .card img{
    transform: translateY(-300px) scale(1);
  }
}




.card h1{
  background: transparent;
  z-index: 1;
  /* position: absolute; */
  color: black;
  font-family: Harry Potter, Arial;
  /* mask-image: linear-gradient(black 80%, transparent); */
}
.card .character-data p {
  margin: 5px 0;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0 51%, 0 0);
}

.card .character-data {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
  background-color: transparent;
}

.lumus{
  height:10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  position:fixed;
  filter: blur(2px);
  justify-content: center;
  align-items: center;
  display: flex;
  /* animation: latencia 2s infinite; */
}
.lumus::after{
  content: "";
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  filter: blur(5px);
   animation: latencia-opacity 2s linear infinite;
   position: absolute;
}
@keyframes latencia{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes latencia-opacity{
    0%{
    transform: scale(1);
    opacity: 1;
  }
  50%{
    transform: scale(2);
    opacity: 0.5;
  }
  100%{
    transform: scale(5);
    opacity: 0;
  }
}
.back{
  opacity: 0;
  transition: opacity 2s ease
}
.front{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  transition: opacity 2s ease;
  background-color: black;
  font-family: Harry Potter, Arial;
}
.front h1{
  color: white;
  background-color: black;
  font-family: Harry Potter, Arial;
}

.card:hover .front{
  opacity: 0;
  filter: blur(3px);
}

.card:hover .back{
  opacity: 1;
  animation: lumus-max .2 ease infinite;
}

@keyframes lumus-max{
  0%{
    mask-image: linear-gradient(transparent, black 49%);
  }
  50%{
    mask-image: linear-gradient(transparent, black 90%);
  }
  100%{
    mask-image: linear-gradient(transparent, black 49%);
  }
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 5.5s;
}