@import url('h//db.onlinewebfonts.com/c/0421d4186d6efbfc5331fe180895e780?family=Harry+Potter');

.tarjeta-character{
    display: flex;
    columns: 2;
    gap: 10px;
    height: 300px;
    font-family: Harry Potter, Arial;
    flex-wrap: wrap;
    justify-content: center;
}
header h1{
    color: white;
    font-family: Harry Potter, Arial;
}
.tarjeta-character p{
color:  white;
font-family: Harry Potter, Arial;
}

.tarjeta-character h1{
    color: white;
    font-family: Harry Potter, Arial;
}

.character-name{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    transition: all 1s ease;
    overflow: hidden;
     border-radius: 10px;
    
}
.character-name img{
    height: 100%;
    width:100%;
    transition: all 1s ease;
   
}
.character-name img:hover{
    transform: scale(1.1) skewY(4deg);
}
.character-name h1{
    position:absolute;
    top:0px;
}

.bandera{
    clip-path: polygon(0 0, 0 50%, 0 100%, 50% 70%, 100% 100%, 100% 49%, 100% 0);
    overflow:hiden;
    transition: all 1s ease;
    position:relative;
}
.bandera::after, .bandera::before{
    content: "";
    position: absolute;
    top:0;
    width: 90%;
    height: 100%;
    filter: blur(5px);
    background: rgba(255, 255, 255, 0.425);
    transform: skewX(45deg) translateX(351px);
    transition: 0.3s;
    animation: ondea 2s linear infinite;
}
.bandera:hover{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    transform: skewX(4deg);
}
.bandera:hover::after{
    transform: skewX(45deg) translateX(-150px);
    
}
@keyframes ondea {
    0%{
        transform: skewX(45deg) translateX(351px);
    }
    /* 50%{
        transform: skewX(4deg) translateX(-150px);
    } */
    100%{
        transform: skewX(72deg) translateX(-500px);
    }
}
.bandera p{
    color: black;
}
.bandera img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.meta-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid white;
    padding:10px;
}

