@import url('h//db.onlinewebfonts.com/c/0421d4186d6efbfc5331fe180895e780?family=Harry+Potter');

.tarjeta-character{
    display: flex;
    columns: 2;
    gap:10px;
    height: 300px;
    font-family: Harry Potter, Arial;
}
header h1{
    color: white;
    font-family: Harry Potter, Arial;
}
.tarjeta-character p{
color:  white;
font-family: Harry Potter, Arial;
}

.tarjeta-character h1{
    color: white;
    font-family: Harry Potter, Arial;
}

.character-name{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}
.character-name img{
    height: 100%;
    width:100%;
}
.character-name h1{
    position:absolute;
    top:0px;
}
.bandera{
    clip-path: polygon(0 0, 0 50%, 0 100%, 50% 70%, 100% 100%, 100% 49%, 100% 0);
    overflow:hiden;
}

.bandera p{
    color: black;
}
.bandera img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.meta-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid white;
    padding:10px;
}

